.team {
  background-color: lightgreen;
  text-align: center;
  float: left;
  width: 50%;
  height: 500px;
  padding-top: 150px;
}

.team1 {
  background-color: lightblue;
  padding-top: 150px;
  text-align: center;
  height: 500px;
}

.saveButton {
  margin-top: 50px;
  text-align: center;
}
